@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
}

header{
    background-color: #cfcfcf;
}

header > h1{
    text-align: center;
    padding: 20px;
}

header menu{
    background-color: #adadad;
}

header menu ul{
    list-style-type: none;
    background-color: #636363;
}

header menu ul li{
    display: inline-block;
    padding: 10px;
    background-color: #424242;
    color: #ffff;
}

article{
    width: 600px;
    padding-top: 20px;
    margin: auto;
}

article p{
    padding: 10px;
}