@charset "UTF-8";
body{
    background-color: rgb(15, 15, 15);
    background-image: linear-gradient(90deg,rgb(0,80,250),rgb(28, 77, 220),rgb(0,80,250));
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}